<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- DB schema will be updated if needed -->
		<property name="hibernate.hbm2ddl.auto">none</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">false</property>
<!-- 		<property name="hibernate.current_session_context_class">thread</property>  -->
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
		
<!-- 		<mapping package="com.himanshu.telephonedir.hibernate.domain" /> -->

		<mapping class="com.himanshu.telephonedir.hibernate5.domain.Person"></mapping>
		<mapping class="com.himanshu.telephonedir.hibernate5.domain.PhoneDetails"></mapping>

	</session-factory>
</hibernate-configuration>